@import "../../../../../vars.scss";

.cards-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
  width: calc((100% - 120px) / 4);
  @media (max-width: $desktop) {
    width: calc((100% - 60px) / 2);
    &:nth-child(-n + 2) {
      margin-bottom: 20px;
      padding: 0px;
    }
  }
  @media (max-width: $tablet) {
    width: calc(100% - 20px);
    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }

	&__icon {
		width: 64px;
    @media (max-width: $netbook) {
      width: 54px;
    }
    @media (max-width: $tablet) {
      width: 40px;
    }
    @media (max-width: $phone) {
      width: 38px;
    }
	}

	&__title {
		font-family: Roboto,sans-serif;
    font-weight: 300;
		font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2;
		padding: 30px 0 20px;
	}
	
	&__text {
		font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
		font-size: 14px;
		color: #454545;
		padding: 0 20px 20px 20px;
    @media (max-width: $netbook) {
      padding:0 0 20px 0;
    }
	}
}
