@import "../../../../vars.scss";

.directions-info-wrap {
	border: solid 1px #b3b3b3;;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 1004px;
  @media (max-width: $desktop) {
    width: 792px;
  }
  @media (max-width: $netbook) {
    width: 656px;
  }
  @media (max-width: $tablet) {
    flex-flow: column;
    align-items: center;
    // padding: 20px 16px 20px;
    width: 452px;
  }
  @media (max-width: $phone) {
    width: 312px;
  } 

	&__title {
		font-family: Roboto,sans-serif;
    font-weight: 300;
		font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2;
		color: #454545;
		padding: 30px 20px 20px;
		text-align: left;
	}
	
	&__text {
		font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
		font-size: 16px;
		color: #454545;
		padding: 0 20px 20px 20px;
		font-style: italic;
		word-wrap: break-word;
		text-align: left;
    // @media (max-width: $tablet) {
    //   word-wrap:break-word;
    //   font-size: 60px;
    // }
    // @media (max-width: $phone) {
    //   font-size: 36px;
    // }
	}
}
