@import "../../vars.scss";

.wrapper-header {
  height: 96px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: $desktop) {
    width: 960px;
  }
  @media (max-width: $netbook) {
    width: 724px;
  }
  @media (max-width: $tablet) {
    width: 540px; 
  }
  @media (max-width: $phone) {
    width: 340px;
  }
}
