@import '../../vars.scss';

.input {
	padding: 10px 12px;
	border: solid 1px #b3b3b3;   
	background-color: transparent;
  border-radius: 3px;
  background-color: transparent;
  font-size: 16px;
  @media (max-width: $tablet) {
    margin-bottom: 20px;
  }
}

