@import "../../../../vars.scss";

.wrapper-welcome-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1170px;
  min-height: 462px;

  @media (max-width: $desktop) {
    width: 970px;
  }
  @media (max-width: $netbook) {
    width: 750px;
    flex-wrap: wrap;
  }
  @media (max-width: $tablet) {
    width: 560px;
    flex-direction: column;  
  }
  @media (max-width: $phone) {
    width: 360px;
  }
}
