@import '../../vars.scss';

.wrapper-welcome { 
  &__wrap {
    background: url(../../assets/img/WelcomeTitle/balls.jpeg) 50% 50%  no-repeat;
    background-size: cover;
    background-position: center; 
    max-width: 972px;
    margin: 0 auto;
    @media (max-width: $desktop) {
      min-height: 736px;
    }
    @media (max-width: $netbook) {
      min-height: 566px;
    }
    @media (max-width: $tablet) {
      min-height: 442px;
    }
    @media (max-width: $phone) {
      max-width: 340px;
      min-height: 326px;
      margin-bottom: 60px;
    }
  }
	
  &__welcome {
    width: 100%;
    display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #ffffff;
		position: relative;
    background: url(../../assets/img/WelcomeTitle/blur.png) 50% 50% no-repeat;
		background-size: cover;
		min-height: 736px;
    @media (max-width: $netbook) {
      min-height: 566px;
    }
    @media (max-width: $tablet) {
      min-height: 442px;
    }
    @media (max-width: $phone) {
      min-height: 326px; 
    }
  }
	
  &__ball {
    width: 252px;
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 0px;
    @media (max-width: $desktop) {
      width: 208px;
      left: 32px;
      top: 67px;
    }
    @media (max-width: $netbook) {
      width: 208px;
      left: 107px;
      top: -16px;
    }
    @media (max-width: $tablet) {
      width: 164px;
      top: -8px;
      left: 12px;
    }
    @media (max-width: $phone) {
      width: 98px;
      top: 16px;
      left: -10px;          
      }
    }
  }
