@import "../../../../vars.scss";

.directions-photo-wrap {
  width: 482px;
	border: solid 1px #d9d9d9;
  margin-bottom: 30px;
  @media (max-width: $desktop) {
    width: 378px;
  }
  @media (max-width: $netbook) {
    width:310px;
  }
  @media (max-width: $tablet) {
    width: 460px;
  }
  @media (max-width: $phone) {
    width: 320px;
  } 

	&__img {
		width: 480px;
		height: 260px;
    @media (max-width: $desktop) {
      width: 374px;
    }
    @media (max-width: $netbook) {
      width:308px;
    }
    @media (max-width: $tablet) {
      width: 458px;
    }
    @media (max-width: $phone) {
      width: 318px;
    }
	}
}
