@import "../../../vars.scss";

.footer-item {
  width: 360px;
  text-align: center;
  @media (max-width: $desktop) {
    width: 294px;
  }
  @media (max-width: $netbook) {
    width: 220px;
  }
  @media (max-width: $tablet) {
    width: 540px; 
  }
  @media (max-width: $phone) {
    width: 340px;
  }

	
	&__title {
		font-family: Roboto,sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.2;
		font-size: 20px;
		padding-top: 60px;
	}
  
	&__text {
		font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
		font-size: 16px;
		padding: 20px 30px 40px;
    @media (max-width: $netbook) {
      width: 220px;
      padding: 20px 12px 40px;
    }
    @media (max-width: $tablet) {
      padding: 20px 0 40px;
      width: 540px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
	}
} 