.button {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 30px;
  cursor: pointer;
  color: #ffffff;
  
  &:disabled {
    background-color: lightgray;
    pointer-events: none;
  }
  &__orange {
    background: #ff5126;
    border: none;
    &:hover {
      background: #ff4726;
    }
  }
  &__yellow {
    background:yellow;
    border: yellow;
    &:hover {
      background: #f1ff26d0;
    }
  }
  &__welcome {
    background-color: transparent;
    border: 2px solid #ffffff;
    &:hover {
      color: rgba(255, 255, 255, 0.795);
      border-color: rgba(255, 255, 255, 0.795);
      background-color: transparent;
    }
  }  
} 