@import "../../../../vars.scss";

.wrapper-directions {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__background {
		background: url(../../../../assets/img/DirectionsContainer/rocks.jpeg) no-repeat;
		min-height: 556px;
		width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
	}
	&__title {
		margin: 0 auto;
		display: flex;
		flex-direction: column;	
		justify-content: center;
		align-items: center;
		padding-top: 105px;
		width: 1064px;
    text-align: center;
    @media (max-width: $netbook) {
      width: 700px;
    }
    @media (max-width: $tablet) {
      width: 540px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
	}
  &__info {
    &_yellow {
      color:yellow; 
    }
  }

	&__text {
    font-weight: 400;
    line-height: 2.0;
	}

	&__cards {
		width: 1064px;		
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;	
		padding: 34px;
		background-color: #ffffff;	
		margin-top: -132px;
		min-height: 1026px;
    @media (max-width: $desktop) {
      width: 854px;
    }
    @media (max-width: $netbook) {
      width: 720px;
    }
    @media (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
      padding: 30px 10px 10px;
      width: 524px;
    }
    @media (max-width: $phone) {
      width: 370px;
    } 
	}
	
	&__button {
		padding: 2px 0 58px;
	}
}
