@import '../../vars.scss';

.form {
  display: flex;
  align-items: center;
  padding: 58px 0;  
  @media (max-width: $tablet) {
    flex-wrap: wrap; 
    }

  &__wrap {
		width: 640px;
		display: flex;
		justify-content: space-between;
    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
    }
	}
}
