@import "../../vars.scss";

.wrapper-contacts{
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__contacts {
    border: solid 1px #b3b3b3;
    border-radius: 3px;
    margin-bottom: 20px;
    width: 1004px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 2.0;
    color: #454545;
    padding: 20px 20px 20px;
    text-align: left;
    font-style: italic;
    @media (max-width: $desktop) {
      width: 792px;
    }
    @media (max-width: $netbook) {
      width: 656px;
    }
    @media (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
      padding: 20px 16px 20px;
      width: 452px;
    }
    @media (max-width: $phone) {
      width: 312px;
    }  
  }

  &__photo {
    width: 1064px;		
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-content: space-between;
		padding: 30px;
		background-color: #ffffff; 
		min-height: 1226px;
    margin-bottom: 30px;
    @media (max-width: $desktop) {
      width: 854px;
    }
    @media (max-width: $netbook) {
      width: 720px;
    }
    @media (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
      width: 524px;
    }
    @media (max-width: $phone) {
      width: 370px;
    }  	
  }
}
