@import "../../../../../vars.scss";

.directions-cards-wrap {
  width: 482px;
	border: solid 1px #d9d9d9;
  margin-bottom: 30px;
  @media (max-width: $desktop) {
    width: 378px;
  }
  @media (max-width: $netbook) {
    width:310px;
  }
  @media (max-width: $tablet) {
    width: 460px;
  }
  @media (max-width: $phone) {
    width: 320px;
  }  

	&__img {
    width: 480px; 
		height: 260px;
    @media (max-width: $desktop) {
      width: 374px;
    }
    @media (max-width: $netbook) {
      width:308px;
    }
    @media (max-width: $tablet) {
      width: 458px;
    }
    @media (max-width: $phone) {
      width: 318px;
    }
	}

	&__title {
		font-family: Roboto,sans-serif;
    font-weight: 300;
		font-size: 20px;
    text-transform: capitalize;
    line-height: 1.2;
		color: #454545;
		padding: 30px 20px 20px;
		text-align: left;
	}
	
	&__text {
		font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0;
		font-size: 16px;
		color: #454545;
		padding: 0 20px 50px 20px;
		font-style: italic;
		word-wrap: break-word;
		text-align: left;
	}
}
