@import "../../../../../vars.scss";

.contact-cards-wrap {
	width: 376px;
  border: solid 1px #d9d9d9;
	font-family: Roboto,sans-serif;
	font-weight: 400;
  margin-bottom: 36px;
  @media (max-width: $desktop) {
    width: 306px;
  }
  @media (max-width: $netbook) {
    width:294px;
  }
  @media (max-width: $tablet) {
    width: 456px;
  }
  @media (max-width: $phone) {
    width: 290px;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    color: #111111;
    padding-top: 60px;
    text-align: center;
  }

  &__text {
    font-size: 100px;
    color: #ff5126;
    padding: 20px 0 26px;
    &_yellow {
      color: yellow;
    }
  }
}
