.popup{
  width: 100%;
  min-height: 100%;
  background-color: rgba(61, 58, 58, 0.329);
	font-size: 24px;
  overflow: hidden; 
  position: fixed;
  top: 0px;  
	z-index: 999;

	&__content {
		margin: 100px auto 0px auto;
    width: 80%;
		max-width: 450px;
    padding: 24px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
		position: relative;
	}
}
