.wrapper-add {
  width: 320px;
  margin-bottom: 70px;
  &__item {
    width: 310px;
    margin-bottom: 20px;
  }
}

textarea {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 12px;
  cursor: pointer;
  margin-bottom: 20px;
  border-color: #b3b3b3;
  &:hover {
    border-color: #ff4726;
  }
}
