@import "../../vars.scss";

.wrapper-admin {
  padding: 0 26px;
  display: flex;
  justify-content: space-around;
  @media (max-width: $tablet) {
     flex-direction: column;  
  } 

  &__exercise {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    @media (max-width: $tablet) {
      width: 320px;  
    }
  }
  
  &__info {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 20px 0;
  }
}

