@import "../../../../vars.scss";

.wrapper-places {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title-photos {
		padding: 124px 0;
    width: 1158px;
    @media (max-width: $desktop) {
      width: 960px;
    }
    @media (max-width: $netbook) {
      width: 724px;
    }
    @media (max-width: $tablet) {
      word-wrap:break-word;
      width: 720px; 
    }
    @media (max-width: $phone) {
      width: 550px;
    }
	}

	&__title {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 90px;
    text-align: center;
    margin: 0 auto;
    @media (max-width: $netbook) {
      width: 620px;
    }
    @media (max-width: $tablet) {
      width: 540px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
  }
	&__text {
    font-weight: 400;
    line-height: 2.0;
	}

	&__photos {
		height: 1104px;
		display: flex;
		justify-content: space-between;
    @media (max-width: $netbook) {
      height: 2236px;
      flex-wrap: wrap;
    }
    @media (max-width: $tablet) {
      flex-direction: column; 
      align-items: center;    
      height: 3340px;
    }
	}
		&__photos-column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
    width: 366px;
    @media (max-width: $desktop) {
      width: 300px;
    }
    @media (max-width: $netbook) {
      width: 350px;
      height: 1100px;    
    }
    @media (max-width: $tablet) {
      width: 540px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
	}

  &__photos-column-wide {
    @media (max-width: $netbook) {
      width: 720px;
    }
    @media (max-width: $tablet) {
      width: 540px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
  }

  &__photo {
    height: 49%;
    object-fit: cover;
  }

  &__photo-center {
    height: 32%;
	  object-fit: cover;
  }
}

