.wrapper-change-theme {
  width: 320px;
  margin-bottom: 70px;
  &__item {
    width: 310px;
    margin-bottom: 20px;
  }
  &__list {
    width: 180px;
    height: 50px;  
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    border-color: #b3b3b3;
    margin-bottom: 80px;
    &:hover {
      border-color: #ff4726;
    }
  }
}

