.cross {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: 1;
  cursor: pointer;
  position:absolute;
  bottom: 10px;
  right: 10px;
  top: 0;
}

.cross:before {
  content: '+';
  color: #111111;
  position: absolute;
  z-index: 2;
  transform: rotate(45deg);
  font-size: 50px;
  line-height: 1;
  top: -5px;
  left: 6px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  margin: 4px;
}

.cross:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #111111;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
  transform: scale(0.01);
  margin: 4px;
}

.cross:hover:after {
  transform: scale(1);
}

.cross:hover:before {
  transform: scale(0.8) rotate(45deg);
  color: #fff;
}