@import "./vars.scss";

h1 {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.1;
  font-weight: 400;
	font-size: 96px;
	padding-bottom: 30px;
	padding-top: 20px;
  word-wrap: break-word;
  text-align: center;
  @media (max-width: $netbook) {
    font-size: 50px;
    width: 360px;
    padding-top: 8px;
  }
  @media (max-width: $phone) {
    font-size: 34px;
    width: 320px;
    padding-bottom: 12px;
    padding-top: 6px;
  }
}

h2 {
  color: #ff5126;
  font-family: Roboto,sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  font-size: 72px;
  @media (max-width: $netbook) {
    font-size: 60px;
  }
  @media (max-width: $phone) {
    word-wrap:break-word;
    font-size: 36px;
  }
}

h3 {
	font-family: Roboto,sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 24px;
}

h4 {
	font-family: Roboto,sans-serif;
  font-weight: 300;
	font-size: 20px;
}

h5 {
	font-family: 'Open Sans',sans-serif; 
	font-weight: 300;
	font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
}

h6 {
  font-family: Roboto,sans-serif;
  font-weight: 300;
	font-size: 20px;
  @media (max-width: $netbook) {
    font-size: 16px;
  }
  @media (max-width: $phone) {
    font-size: 12px;
  }
}

hr {
	border:1px solid #d9d9d9;
	width: 1140px;
  @media (max-width: $desktop) {
    width: 940px;
  }
  @media (max-width: $netbook) {
    width: 720px;
  }
  @media (max-width: $tablet) {
    word-wrap:break-word;
    width: 540px; 
  }
  @media (max-width: $phone) {
    width: 340px;
  }
}