@import "./vars.scss";
@import "./assets/fonts/fonts.scss";

*, *:after, *:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: 1px;  
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  background: #ffffff;    
}
