@import "../../vars.scss";

.footer {
  color: #ffffff;
  background-color: #1a1a1a;

	&__items {
		width: 1140px;
    margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
    @media (max-width: $desktop) {
      width: 940px;
    }
    @media (max-width: $netbook) {
      width: 720px;
    }
    @media (max-width: $tablet) {
      margin: 0 auto;
      width: 540px; 
    }
    @media (max-width: $phone) {
      width: 340px;
    }

	}
	&__company-name {
		width: 1140px;
		padding: 48px 20px;		
		display: flex;
		justify-content: center;
    font-weight: 400;
    @media (max-width: $desktop) {
      width: 940px;
    }
    @media (max-width: $netbook) {
      width: 720px;
    }
    @media (max-width: $phone) {
      width: 340px;
      line-height: 1.6;
    }		
	}
}
