@import "../../../../vars.scss";

.wrapper-contact {
	text-align: center;
	
	&__background {
		background: url(../../../../assets/img/ContactContainer/forest.jpeg) no-repeat;
		min-height: 774px;
		width: 100%;
		background-position: bottom;
    background-size: cover;
    object-fit: cover;
    @media (max-width: $tablet) {
      min-height: 840px;
    }
    @media (max-width: $phone) {
      min-height: 1076px;
    }
	}
	&__title {
		margin: 0 auto;
		display: flex;
		flex-direction: column;	
		align-items: center;
    justify-content: center;
		padding-top: 80px;
		width: 840px;
    text-align: center;
    @media (max-width: $desktop) {
      width: 874px;
    }
    @media (max-width: $netbook) {
      width: 700px;
    }
    @media (max-width: $tablet) {
      width: 502px;
    }
    @media (max-width: $phone) {
      width: 340px;
    }
	}

  &__info {
    &_yellow {
      color:yellow; 
    }
  }

	&__text {
    font-weight: 400;
    line-height: 2.0;
		padding: 24px 0 50px;
	}

	&__cards {
		width: 858px;		
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 36px;
		background-color: #ffffff;	
		margin-top: -130px;

    min-height: 642px;
    @media (max-width: $desktop) {
      width: 720px;
    }
    @media (max-width: $netbook) {
      width: 694px ;
    }
    @media (max-width: $tablet) {
      flex-flow: column;
      align-items: center;
      padding: 30px 10px 10px;
      width: 516px;
    }
    @media (max-width: $phone) {
      width: 346px;
    } 
	}
}
